
.opener
{
	display:inline-block;		
	cursor: pointer;
}

.commandRow {
	
	width: 100%;
	text-align: center;
	height: 50px;
}

.commandRow > input {
	position: relative;
	top:15%;
}

.textRow {
	width: 100%;
	height:40px;
}

.commandRow .button {

}

.buttonRow {
	
	width: 100%;
	text-align: center;
}

.presetPicker {
	border: 1px solid #c4c4c4;
	width: 229px;
	overflow: scroll;
}

.presetOption {
	width:32px; height:32px;	
	float:left;
	border: 1px solid #c4c4c4;
	cursor: pointer;
}


.sampleAreas {	
	width:227px;
	height:227px;
	overflow: hidden;
	margin: 0px 10px 0px 10px;
}

.sampleArea {	
	border:1px solid #9d9d9d;	
}


.colorTBInput:focus {
    outline: none;
}

.colorTBInput {
	border-top: 1px solid #9d9d9d;
	border-bottom: 1px solid #9d9d9d;
	border-left: 0px;
	border-right: 1px solid #9d9d9d;

	width: 165px;
	height: 42px;
	
	padding:0px;
	position: relative;
	top: -42;
	left: 62;
	
}

.colorTBPreview {
	display: inline-block;
	width: 60px;
	height: 40px;
	border: 1px solid #9d9d9d;	
	position: relative;
	left: -61px;
}

.colorTBParent {
	margin: 0px 10px 0px 10px;
	max-height: 40px;
	overflow: hidden;
	border-left: 1px solid #9d9d9d;	
}

.colorTBBackground {
	background: url(images/transparent.png) repeat;	
	display: inline-block;
	width: 60px;
	height: 40px;
}

.smallPreview
{
	display:inline-block;	
	width:16px;
	height:16px;
	border:1px solid #9d9d9d;	

	position: relative;
	top: 4px;
	left: 3px;
}

.arrowArea
{
	display:inline-block;	
	position: relative;
	top: 0;
	left: 4px;
	font-size: .6em;
}

.mainPanel
{
	width:250;
	height:350;
	position: absolute;
	background-color: #fcfcfc;
	border:1px solid #9d9d9d;
}

.mainPanel > div {
	margin-top: 10px;
}

.sample {
	display:inline-block;	
	width:8.33%;
	height:12;
}

.sample.selected {
	border: 1px solid red; 
	width:7.33%;
	height:10;
}


.simplePicker {
	
}

.sliderHandle {
	height:20px;
	width: 20px;
	background-color: #fcfcfc;
	border:1px solid #9d9d9d;
}

.sliderContainer {
	height:20px;

}

.paletteName {
	display: inline-block;
	width:75;
	font:  400 13px/19px "Helvetica Neue", Arial, sans-serif;
}


.palette {
	background-color: red;	
}

.palette.selected {
	background-color: green;	
}

.invalid {
	color:red;
}

.fullArea {
	width: 100%;
	height: 250px;	
}

.sliderContainer {

	margin-left: 20px;
	margin-right: 20px;

	background: url(images/transparent.png) repeat;
	border:1px solid #9d9d9d;
}


.nouislider {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
}

.noUiSlider.horizontal {
	box-shadow: none;
}

.lightnessLine {
	width:227px;
	height: 2px;		
}

.satAndLightnessArea {
	margin-right: 13px;
	margin-left: 10px;
	height:200px;
	border: 1px solid 9d9d9d;
	overflow: hidden;
	cursor:crosshair;
}

/* grad slider */
.gradSlider {
	cursor: pointer;
	height: 30px;
	width: 227px;
	margin: 0px 10px 10px 10px;
	background: red;
}

.gradSliderHandle {
	display: inline-block;
	width: 13px;
	height: 18px;
	background: url(images/handle.png) repeat;
	position: absolute;
	top:30px;	
}

.gradForm {
	margin-right: 10px;
	margin-left: 10px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.gradForm label {
	margin-right: 15px;
	vertical-align: top;
}

.row {	
	margin-bottom: 5px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.delete {
	margin: 0px;
	padding: 0px;
	border: 1px solid #970b0e;
	border-bottom: none;
	background: #c60f13;
	color:white;
	cursor:pointer;
	position: relative;
	left:10px;
	width: 228px;
}

.button  {


  color: #000; text-decoration: none; text-shadow: 0 1px rgba(255,255,255,.2);
   font:  400 13px/19px "Helvetica Neue", Arial, sans-serif;

-webkit-tap-highlight-color: transparent;

  padding: 0 12px;
    
  border: 1px solid;
  border-top-color: #9d9d9d; border-bottom-color: #939393;
  border-left-color: #949494; border-right-color: #949494;

  -webkit-border-radius: 4px;   box-shadow: 0 1px rgba(0,0,0,0.1);
  -moz-border-radius: 4px; -moz-box-shadow: 0 1px rgba(0,0,0,0.1);
  border-radius: 4px;   -webkit-box-shadow: 0 1px rgba(0,0,0,0.1);
    
  -webkit-appearance: none;

  background: #ffffff; /* Old browsers */

  background: -webkit-gradient(linear, left top, left bottom, 
             /* Chrome, */     color-stop( 0%, #ffffff),
             /* Safari4+ */                 color-stop(25%, #ffffff),       
                                                        color-stop( 30%, #fcfcfc), 
                                                                       color-stop(35%, #f9f9f9),            
                               color-stop(40%, #f7f7f7),    
                                            color-stop(45%, #f5f5f5),         
                                                        color-stop( 50%, #f2f2f2), 
                                                                       color-stop(50%, #ececec),                 
                               color-stop(80%, #ededed),
                                            color-stop(95%, #efefef),
                                                        color-stop(100%, #f2f2f2)); 
  background: -webkit-linear-gradient(top,     #ffffff  0%, #ffffff 25%, #fcfcfc  30%, #f9f9f9 35%,
               /* Chrome10+, */                #f7f7f7 40%, #f5f5f5 45%, #f2f2f2  50%, #ececec 50%,
               /* Safari5.1+ */                #ededed 80%, #efefef 95%, #f2f2f2 100%);
  background: -moz-linear-gradient(top,        #ffffff  0%, #ffffff 25%, #fcfcfc  30%, #f9f9f9 35%, 
               /* FF3.6+ */                    #f7f7f7 40%, #f5f5f5 45%, #f2f2f2  50%, #ececec 50%,
                                               #ededed 80%, #efefef 95%, #f2f2f2 100%); 
  background: -o-linear-gradient(top,          #ffffff  0%, #ffffff 25%, #fcfcfc  30%, #f9f9f9 35%,
               /* Opera 11.10+ */              #f7f7f7 40%, #f5f5f5 45%, #f2f2f2  50%, #ececec 50%,
                                               #ededed 80%, #efefef 95%, #f2f2f2 100%); 
  background: -ms-linear-gradient(top,         #ffffff  0%, #ffffff 25%, #fcfcfc  30%, #f9f9f9 35%,
               /* IE10+ */                     #f7f7f7 40%, #f5f5f5 45%, #f2f2f2  50%, #ececec 50%,
                                               #ededed 80%, #efefef 95%, #f2f2f2 100%);
  background: linear-gradient(top,             #ffffff  0%, #ffffff 25%, #fcfcfc  30%, #f9f9f9 35%,
              /* W3C */                        #f7f7f7 40%, #f5f5f5 45%, #f2f2f2  50%, #ececec 50%,
                                               #ededed 80%, #efefef 95%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( 
          /* IE6-9 */           startColorstr='#ffffff',    endColorstr='#f2f2f2',GradientType=0 );

    cursor: pointer; -webkit-user-select: none;
    -moz-user-select: none;  user-select: none;

}




/* Noui slider css */
.noUiSlider,
.noUiSlider * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
	box-sizing: border-box;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
	display: block;
	cursor: default;
}
.noUiSlider {
	position: relative;
}
.noUiSlider a {
	position: absolute;
	z-index: 1;
}
.noUiSlider a:nth-child(2) {
	background: inherit !important;
}
.noUiSlider.vertical a {
	width: 100%;
	bottom: 0;
}
.noUiSlider.horizontal a {
	height: 100%;
	right: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.noUiSlider:before,
body.TOUCH,
.noUiSlider div {
	-ms-touch-action: none;
}
.noUiSlider:before {
	display: block;
	position: absolute;
	width: 150%;
	left: -25%;
	height: 400%;
	top: -150%;
	content: "";
	z-index: -1;
}
.noUiSlider.vertical:before {
	width: 400%;
	left: -150%;
	height: 150%;
	top: -25%;
}
}
.noUiSlider {
	border: 1px solid #908d84;
	border-radius: 3px;
}
.noUiSlider.connect a,
.noUiSlider.connect.lower {
	background: #b2a98f;
}
.noUiSlider,
.noUiSlider.connect.lower a {
	background: #d9d7cb;
	box-shadow: inset 0px 1px 7px #b6b4a8
}
.noUiSlider.disabled,
.noUiSlider.disabled.connect.lower a {
	background: #ccc;
	box-shadow: none;
}
.noUiSlider div {
	height: 18px;
	width: 18px;
	border: 1px solid #99968f;
	border-radius: 3px;
	background: #efefe7;
}
.noUiSlider.disabled div {
	background: transparent;
}
.noUiSlider.horizontal {
	width: 225px;
	height: 10px;
}
.noUiSlider.horizontal div {
	margin: -5px 0 0 -9px;
}
.noUiSlider.vertical {
	width: 10px;
	height: 300px;
}
.noUiSlider.vertical div {
	margin: -9px 0 0 -5px;
}



/* angle picker */
.ui-anglepicker {
    width: 52px;
    height: 52px;

    background: -moz-linear-gradient(top, #dbdbdb, #e1e1de 20%, #f8f8f3);
    background: -webkit-linear-gradient(top, #dbdbdb, #e1e1de 20%, #f8f8f3);
    border: 2px solid #666;

    -moz-box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    -webkit-box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.ui-anglepicker-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;

    margin: -2px 0 0 -2px;
    -moz-transform-origin: 2px 2px;
    -webkit-transform-origin: 2px 2px;
    -ms-transform-origin: 2px 2px;
    -o-transform-origin: 2px 2px;
    transform-origin: 2px 2px;
}

.ui-anglepicker:hover, .ui-anglepicker.ui-anglepicker-dragging {
    border-color: #494949;
}

.ui-anglepicker-dragging .ui-anglepicker-dot, .ui-anglepicker-dragging .ui-anglepicker-line,
.ui-anglepicker:hover .ui-anglepicker-dot, .ui-anglepicker:hover .ui-anglepicker-line {
    background: #494949;
}

.ui-anglepicker-dot {
    height: 4px;
    width: 4px;
    position: absolute;
    background: #838383;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ui-anglepicker-line {
    margin-top: 1.5px;
    margin-right: -2px;
    height: 1px;
    background: #838383;
}​
